{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "rules": {
    "vue/first-attribute-linebreak" : "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "tailwindcss/classnames-order" : "off",
    "vue/no-v-html" : "off",
    "semi" : ["error", "never"],
    "tailwindcss/no-custom-classname" : [1, {
      "config": "tailwind.config.cjs"
    } ]
    // override/add rules settings here, such as:
    // 'vue/no-unused-vars': 'error'
  },
  "globals": {
    "$ref": "readonly",
    "$computed": "readonly",
    "$shallowRef": "readonly",
    "$customRef": "readonly",
    "$toRef": "readonly"
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser" : "@typescript-eslint/parser"
  },
  "plugins": ["tailwindcss", "vue", "@typescript-eslint"]
}
